{% extends "base.html" %}

{% block css %}
<link href="/css/metisMenu.min.css" rel="stylesheet">

<link href="/css/dataTables.bootstrap.css" rel="stylesheet">

<!-- DataTables Responsive CSS -->
<link href="/css/dataTables.responsive.css" rel="stylesheet">
{% endblock %}

{% block js %}
<!-- Metis Menu Plugin JavaScript -->
<script src="/js/metisMenu.min.js"></script>

<!-- DataTables JavaScript -->
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/dataTables.bootstrap.min.js"></script>
<script src="/js/dataTables.responsive.js"></script>

<script src="/js/settings_manageUsers.js"></script>
{% endblock %}

{% block content %}
<br/>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Add a user
            </div>
            <div class="panel-body">
                <p>
                    To invite users to the user please provide us with their e-mail address. We
                    shall e-mail them with a link to a account setup page for them to input their 
                    information.
                </p>
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                            <input id="invite_title" type="text" class="form-control" placeholder="Title">
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-quote-right fa-fw"></i></span>
                            <input id="invite_firstname" type="text" class="form-control" placeholder="Firstname">
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-quote-right fa-fw"></i></span>
                                <input id="invite_lastname" type="text" class="form-control" placeholder="Surname">
                            </div>
                        </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-home fa-fw"></i></span>
                            <input id="invite_organisation" type="text" class="form-control" placeholder="Organisation">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group input-group">
                            <span class="input-group-addon">@</span>
                            <input id="invite_email" type="text" class="form-control" placeholder="E-mail Address">
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <select id="invite_permission" class="form-control">
                                {% for value, desc in authorities.items() %}
                                    <option value="{{value}}">{{desc}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-9 col-md-9 col-lg-9"></div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <button style="width:100%" type="button" class="btn btn-outline btn-primary" onclick="inviteUser();">Invite</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                System users
            </div>
            <div class="panel-body">
                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Full name</th>
                            <th>Disipline</th>
                            <th>Authority</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for user in users_information %}
                            <tr>
                                <td>{{user["username"]}}</td>
                                <td>{{user["title"]}} {{user["firstname"]}} {{user["lastname"]}}</td>
                                <td>Computer Science</td>
                                <td>{{authorities[user["permission"]]}}</td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}