{% extends "base.html" %}
{% block css %}
<link href="css/dropzone.css" rel="stylesheet"></link>
{% endblock %}
{% block js %}
<script src="js/dropzone.js"></script>
<script src="js/contentUploader.js"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">Model Uploader</div>
            <div class="panel-body">
                <p>
                    Please drag and drop your CMO files here. Alternatively,
                    you may left click on the drop zone and navigate to your
                    files.
                </p>
                <form action="/model_upload" class="dropzone" 
                id="my-awesome-dropzone" style="height: 300px; width: 100%;">
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
        <div class="col-lg-12">
            <br>
            <div class="panel panel-default">
                <div class="panel-heading">Questions Uploader</div>
                <div class="panel-body">

                    
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Question</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody id="questionTBody">
                                {% for q in questions %}
                                <tr id="questionrow-{{q["qid"]}}">
                                    <td>{{q["qid"]}}</td>
                                    <td>{{q["text"]}}</td>
                                    <td><button type="button" class="btn btn-danger btn-circle" onclick="deleteQuestion({{q["qid"]}});"><i class="fa fa-trash-o"></i>
                                    </button></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <form role="form" onsubmit="uploadQuestion(); return false;">
                        <div class="form-group input-group">
                            <input type="text" id="QuestionInput" class="form-control" placeholder="please write question to be uploaded here">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" onclick="uploadQuestion();"><i class="fa fa-cloud-upload"></i>
                                </button>
                            </span>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}