{% extends "base.html" %}
{% block css %}
<link href="css/ion.rangeSlider.css" rel="stylesheet">
<link href="css/ion.rangeSlider.skinHTML5.css" rel="stylesheet">
<link href="css/switchery.min.css" rel="stylesheet">

{% endblock %}
{% block js %}
<script src="js/ion.rangeSlider.min.js"></script>
<script src="js/switchery.min.js"></script>
<script src="js/training_main.js"></script>
<script src="https://openlayers.org/en/v4.5.0/build/ol.js"></script>
{% endblock %}

{% block content %}

{% if questions %}

<br/>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Labelling machine
            </div>
            <div class="panel-body">
                <p>
					Through your persistant use of the labeller, your expert representation learns 
					to become more and more like yourself. Shift through the model outputs on the 
					left, see a representation of a particular output on the right.
				</p>
				<p>{{questions}}</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
	<div class="col-lg-2">
		<div class="panel panel-default">
            <div class="panel-heading">Climate model output selection</div>
			<div class="panel-body">
				<div class="panel-group" id="accordion">

					<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a id="default_collapse" data-toggle="collapse" data-parent="#accordion" href="#generalSwitchs" aria-expanded="false" class="collapsed">General</a>
								</h4>
							</div>
							<div id="generalSwitchs" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
								<div class="panel-body">
									<div class="row">
										<div class="col-lg-6">
											<p>Bare soil</p>
										</div>
										<div class="col-lg-6">
											<input id="Soil-15" type="checkbox" class="js-switch js-check-change"/>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-lg-6">
											<p>Urban</p>
										</div>
										<div class="col-lg-6">
											<input id="Urban-13" type="checkbox" class="js-switch js-check-change"/>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-lg-6">
											<p>Ice</p>
										</div>
										<div class="col-lg-6">
											<input id="Ice-16" type="checkbox" class="js-switch js-check-change"/>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-lg-6">
											<p>Lake</p>
										</div>
										<div class="col-lg-6">
											<input id="Lake-14" type="checkbox" class="js-switch js-check-change"/>
										</div>
									</div>
								</div>
							</div>
						</div>



					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" class="collapsed">Broad leaf</a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
							<div class="panel-body">
								<div class="row">
									<div class="col-lg-6">
										<p>Deciduous</p>
									</div>
									<div class="col-lg-6">
										<input id="BLD-0"type="checkbox" class="js-switch js-check-change"/>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-6">
										<p>Evergreen Tropic</p>
									</div>
									<div class="col-lg-6">
										<input id="BLE_Trop-1" type="checkbox" class="js-switch js-check-change"/>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-6">
										<p>Cooler Forest</p>
									</div>
									<div class="col-lg-6">
										<input id="BLE_Temp-2" type="checkbox" class="js-switch js-check-change"/>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" class="collapsed">Narrow leaf</a>
							</h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
							<div class="panel-body">
								<div class="row">
									<div class="col-lg-6">
										<p>Deciduous</p>
									</div>
									<div class="col-lg-6">
										<input id="NLD-3" type="checkbox" class="js-switch js-check-change"/>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-6">
										<p>Evergreen</p>
									</div>
									<div class="col-lg-6">
										<input id="NLE-4" type="checkbox" class="js-switch js-check-change"/>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" class="collapsed">Plant life</a>
							</h4>
						</div>
						<div id="collapseThree" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
							<div class="panel-body">
								<div class="row">
									<div class="col-lg-6">
										<p>C3G</p>
									</div>
									<div class="col-lg-6">
										<input id="C3G-5" type="checkbox" class="js-switch js-check-change"/>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-6">
										<p>C4G</p>
									</div>
									<div class="col-lg-6">
										<input id="C4G-6" type="checkbox" class="js-switch js-check-change"/>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-6">
										<p>C3P</p>
									</div>
									<div class="col-lg-6">
										<input id="C3P-7" type="checkbox" class="js-switch js-check-change"/>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-6">
										<p>C4P</p>
									</div>
									<div class="col-lg-6">
										<input id="C4P-8" type="checkbox" class="js-switch js-check-change"/>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-6">
										<p>C3C</p>
									</div>
									<div class="col-lg-6">
										<input id="C3C-9" type="checkbox" class="js-switch js-check-change"/>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-6">
										<p>C4C</p>
									</div>
									<div class="col-lg-6">
										<input id="C4C-10" type="checkbox" class="js-switch js-check-change"/>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" class="collapsed">Shrubs</a>
							</h4>
						</div>
						<div id="collapseFour" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
							<div class="panel-body">
								<div class="row">
									<div class="col-lg-6">
										<p>Deciduous</p>
									</div>
									<div class="col-lg-6">
										<input id="SHD-11" type="checkbox" class="js-switch js-check-change"/>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-6">
										<p>Evergreen</p>
									</div>
									<div class="col-lg-6">
										<input id="SHE-12" type="checkbox" class="js-switch js-check-change"/>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
	</div>

	<div class="col-lg-10">
		<div class="panel panel-default">
			<div class="panel-body">
			    <!-- Nav tabs -->
			    <ul class="nav nav-tabs", id="tabs">
			        <li class="pull-right"><a href="#map-content" data-toggle="tab" aria-expanded="false">merge</a>
			        </li>
			    </ul>

			    <!-- Tab panes -->
			    <div class="tab-content">
			        <div class="tab-pane fade in active" id="map-content">
						<!--<h4>Settings Tab</h4>-->
						<div id="map" class="map"></div>
			        </div>
			    </div>
			</div>
        </div>
	</div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Model Score
            </div>
            <div class="panel-body">

				<input type="text" id="mid" name="mid" value="" style="display: none;"/>
				<input type="text" id="qid" name="qid" value="" style="display: none;"/>

				<div class="form-group">
						<label>Selects</label>
						<select id="questionSelect" class="form-control">
							{% for question in questions %}
								<option value="{{question['qid']}}">{{question["text"]}}</option>
							{% endfor %}
						</select>
					</div>

                <input type="text" id="modelScore" name="score" value="" />
                <div class="col-lg-2 col-lg-offset-10">
                	<button onclick="scoreModel()" type="button" class="btn btn-primary btn-sm btn-block">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}
{% if not questions %}
<br/>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                What to do now...
            </div>
            <div class="panel-body">
                <p>
                    Thank you! You have now annotated all the current combinations of model 
                    question pairings. We will be adding more climate model outputs in the
                    future, and the questions are likely to change as dialog society is having
                    changes. Remember to check back in everyone and again to see if there is anymore
                    to do.
                </p>

                <p>
                    Although you are done with the training, you can still checkout the progress of 
                    your representation and the kinds of evaluations it provides to new climate model
                    outputs. Check them out below.
                </p>

                <a href="/user_profile.html"><button type="button" class="btn btn-outline btn-primary">Profile</button></a>
                <a href="/evaluation.html"><button type="button" class="btn btn-outline btn-primary">Evaluation</button></a>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}